.section-about {
    background-color: #D40A44;
    color: #fff;
}

.section-about > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    padding: 60px 20px;
}

.section-about > .container h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.section-hero {
    height: 500px;
    background-color: #D40A44;
    display: flex;
}

.section-hero > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    padding: 0 20px;
    color: #fff;
}

.section-hero > .container > img {
    width: 200px;
    height: 200px;
    margin: 10px 0;
}

.section-hero > .container > h2 {
    margin: 50px;
    font-size: 60px;
    text-transform: uppercase;
}

.star-about {
    position: relative;
    
    display: inline-block;
    width: 0;
    height: 0;
    
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #fff;
    border-left:   .3em solid transparent;
  
    /* Controlls the size of the stars. */
    font-size: 24px;
}

.star-about:before {
    content: '';
    
    display: block;
    width: 0;
    height: 0;
    
    position: absolute;
    top: .6em;
    left: -1em;
  
    border-right:  1em solid transparent;
    border-bottom: .7em  solid #fff;
    border-left:   1em solid transparent;
  
    transform: rotate(-35deg);
}
  
.star-about:after {
    content: '';
      
    display: block;
    width: 0;
    height: 0;
      
    position: absolute;
    top: .6em;
    left: -1em;
    
    border-right:  1em solid transparent;
    border-bottom: .7em  solid #fff;
    border-left:   1em solid transparent;
    
    transform: rotate(-35deg);
}

.star-about:after {  
    transform: rotate(35deg);
}


.section-about > .container .content {
    display: flex;
    margin: 20px 0;
}

.section-about > .container .content div {
    padding: 20px;
}

.section-about > .container button {
    color: #fff;
    border: 1px solid #fff;
    background-color: #D40A44;
    padding: 15px 30px;
    border-radius: 100px;
}

.section-about > .container button:hover {
    background-color: #fff;
    color: #D40A44
}

@media (max-width: 599px) {
    .section-about {
        background-color: blue;
    }

    .section-about > .container .content {
        flex-direction: column;
    }
}