.section-contact {
    height: 500px;
    background-color: #fff;
    display: flex;

}

.section-contact > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    padding: 60px 20px;

}

.section-contact > .container h3 {
    font-size: 30px;
    padding: 50px;
    text-transform: uppercase;
    margin-bottom: -50px;
    color: #2C3E50;
}

.section-contact > .container > .content {
    display: flex;
    color: #2C3E50;

    margin: 10px 50px;
    flex-direction: column; 
    padding: 5px;
    align-self: flex-start
}

.section-contact > .container > .content label {
    font-size: 12px;
    margin-bottom: 10px;
    color: #2C3E50;
}

.section-contact > .container button {
    color: #fff;
    border: 1px solid #fff;
    background-color: #D40A44;
    padding: 15px 30px;
    border-radius: 5px;
}

.star-contact {
    position: relative;
    
    display: inline-block;
    width: 0;
    height: 0;
    
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid  #2C3E50;
    border-left:   .3em solid transparent;
  
    /* Controlls the size of the stars. */
    font-size: 24px;
}

.star-contact:before {
    content: '';
    
    display: block;
    width: 0;
    height: 0;
    
    position: absolute;
    top: .6em;
    left: -1em;
  
    border-right:  1em solid transparent;
    border-bottom: .7em  solid #2C3E50;
    border-left:   1em solid transparent;
  
    transform: rotate(-35deg);
}
  
.star-contact:after {
    content: '';
      
    display: block;
    width: 0;
    height: 0;
      
    position: absolute;
    top: .6em;
    left: -1em;
    
    border-right:  1em solid transparent;
    border-bottom: .7em  solid  #2C3E50;
    border-left:   1em solid transparent;
    
    transform: rotate(-35deg);
}

.star-contact:after {  
    transform: rotate(35deg);
}