.section-hero {
    height: 500px;
    background-color: #D40A44;
    display: flex;
}

.section-hero > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    padding: 0 20px;
    color: #fff;
}

.section-hero > .container > img {
    width: 200px;
    height: 200px;
    margin: 10px 0;
}

.section-hero > .container > h2 {
    margin: 50px;
    font-size: 60px;
    text-transform: uppercase;
}

.star-hero {
    position: relative;
    
    display: inline-block;
    width: 0;
    height: 0;
    
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #fff;
    border-left:   .3em solid transparent;
  
    /* Controlls the size of the stars. */
    font-size: 24px;
}

.star-hero:before {
    content: '';
    
    display: block;
    width: 0;
    height: 0;
    
    position: absolute;
    top: .6em;
    left: -1em;
  
    border-right:  1em solid transparent;
    border-bottom: .7em  solid #fff;
    border-left:   1em solid transparent;
  
    transform: rotate(-35deg);
}
  
.star-hero:after {
    content: '';
      
    display: block;
    width: 0;
    height: 0;
      
    position: absolute;
    top: .6em;
    left: -1em;
    
    border-right:  1em solid transparent;
    border-bottom: .7em  solid #fff;
    border-left:   1em solid transparent;
    
    transform: rotate(-35deg);
}

.star-hero:after {  
    transform: rotate(35deg);
}
