.section-hero {
    height: 500px;
    background-color: #D40A44;
    display: flex;
}

.section-hero > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    padding: 0 20px;
    color: #fff;
}

.section-hero > .container > img {
    width: 200px;
    height: 200px;
    margin: 10px 0;
}

.section-hero > .container > h2 {
    margin: 5px;
    font-size: 60px;
    text-transform: uppercase;
}

.star-hero {
    margin: 50px 0;
    color: #fff;
    border-right: 50px solid transparent;
    border-bottom: 35px solid #fff;
    border-left: 50px solid transparent;
    transform: rotate(180deg);
  }
.star-hero:before {
    position: absolute;
    border-right: 50px solid transparent;
    border-bottom: 35px solid #fff;
    border-left: 50px solid transparent;
    transform: rotate(70deg);
    content: '';
    left: -50px;
  }
  
.star-hero:after {
    position: absolute;
    display: block;
    color:#fff;
    top: 3px;
    left: -48px;
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 35px solid #fff;
    border-left: 50px solid transparent;
    transform: rotate(-70deg);
    content: '';
    left: -50px
}

